body {
	font-family: "Times New Roman", serif;
	background-color: #d8da3d; }

h1 {
	text-align: center;
	font-family: sans-serif; }

h2 {
	text-align: right;}

p {
	margin-left: 80px;
	font-size: 14pt;
	color: green;}

a:link {
	color: blue; }

a:visited {
	color: purple; }

.class_ex {
	color: rgb(139, 0, 0)
}

#id_ex {
	color: rgb(134, 0, 181)
}

		#caja{
			margin: 15px;
			border: 15px solid #666;
			padding: 25px;
			width: 250px;
			height: 200px;
		}
